{% extends "front/base.html.twig" %}

{% block title %}Conditions d'utilisation
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1>Conditions d'utilisation</h1>

		<p>Bienvenue sur notre site web. En accédant à ce site, vous acceptez les présentes conditions d'utilisation. Veuillez les lire attentivement.</p>

		<h2>1. Acceptation des conditions</h2>
		<p>En utilisant notre site, vous acceptez de respecter et d'être lié par les présentes conditions d'utilisation. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser notre site.</p>

		<h2>2. Modifications des conditions</h2>
		<p>Nous nous réservons le droit de modifier ces conditions à tout moment. Toute modification sera publiée sur cette page. Il vous incombe de vérifier régulièrement les mises à jour de ces conditions.</p>

		<h2>3. Utilisation du site</h2>
		<p>Vous vous engagez à utiliser notre site de manière légale et à ne pas :</p>
		<ul>
			<li>Utiliser le site de manière frauduleuse ou illégale.</li>
			<li>Violer les droits de propriété intellectuelle de tiers.</li>
			<li>Propager des virus ou d'autres technologies nuisibles.</li>
		</ul>

		<h2>4. Propriété intellectuelle</h2>
		<p>Tout le contenu de ce site, y compris les textes, graphiques, logos, images, et logiciels, est notre propriété ou celle de nos fournisseurs de contenu et est protégé par les lois sur la propriété intellectuelle.</p>

		<h2>5. Limitation de responsabilité</h2>
		<p>Nous ne serons pas responsables des dommages directs, indirects, accessoires, consécutifs ou punitifs résultant de votre utilisation de notre site.</p>

		<h2>6. Politique de confidentialité</h2>
		<p>Votre utilisation de notre site est également régie par notre
			{# <a href="{{ path('privacy_policy') }}">politique de confidentialité</a>.</p> #}

		<h2>7. Droit applicable</h2>
		<p>Les présentes conditions d'utilisation sont régies par les lois en vigueur dans notre juridiction. Tout litige sera soumis à la compétence exclusive des tribunaux de notre juridiction.</p>

		<h2>8. Contact</h2>
		<p>Si vous avez des questions concernant ces conditions d'utilisation, veuillez nous contacter à l'adresse suivante :</p>
		<p>Email : support@votresite.com</p>
		<p>Adresse : 123 Rue Exemple, Ville, Pays</p>
	</div>
{% endblock %}
