{% extends "admin/base.html.twig" %}

{% block title %}Modifier un produit
{% endblock %}


{% block body %}
	<main class="container">
		<h1 class="mb-3">Ajouter un produit</h1>

		{{ form_start(productForm)}}
		{{ form_rest(productForm)}}

		<input type="submit" value="Modifier" class="btn btn-primary">
		{{ form_end(productForm)}}
	</main>
{% endblock %}
